<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/base :: head"></head>


<body>

<div id="wrapper">

    <nav th:replace="common/base :: topNavbar"></nav>

    <div id="page-wrapper" class="gray-bg">
        <div th:replace="common/base :: navBar"></div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Accounts</h5>
                        </div>
                        <div class="ibox-content">

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Account id</th>
                                    <th>Created Date</th>
                                    <th>Payee</th>
                                    <th>Payment Amount</th>
                                    <th>Payment Date</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="bill : ${bills}">
                                    <td th:text="${bill._id}"></td>
                                    <td th:text="${bill.account_id}"></td>
                                    <td th:text="${bill.creation_date}"></td>
                                    <td th:text="${bill.payee}"></td>
                                    <td th:text="${bill.payment_amount}"></td>
                                    <td th:text="${bill.payment_date}"></td>
                                    <td th:text="${bill.status}"></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="common/base :: foot"></div>
    </div>
</div>


<!-- Mainly scripts -->
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Peity -->
<script src="js/plugins/peity/jquery.peity.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>

<!-- iCheck -->
<script src="js/plugins/iCheck/icheck.min.js"></script>

<!-- Peity -->
<script src="js/demo/peity-demo.js"></script>

<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>

</body>

</html>
